.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://us.123rf.com/450wm/gurza/gurza1902/gurza190200019/124846791-tienda-de-productos-org%C3%A1nicos-supermercado-ilustraci%C3%B3n-vectorial.jpg?ver=6);
}

.list{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

li{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center ;
}

li section{
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

span{
  font-weight: bold;
}

.completed{
  text-decoration: line-through;
  text-decoration-color: black;
  background-color: green;
}

.buttons-form{
  background: none;
  border: none;
  font-size: 20px;
}
.button-delete-product{
  background: none;
  border: none;
  font-size: 20px;
}

form{
  display: flex;
  justify-content: space-evenly;
}

.input-name{
  border-radius: 0;
}

.input-quantity{
  width: 10%;
}


.section-content-list {
  border-radius: 30px;
  background-color: wheat;
  height: 300px;
  width: 80%;
  overflow:auto;
  padding-left:0 ;
}








/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.section-content-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.section-content-list::-webkit-scrollbar:vertical {
  width:10px;
}

.section-content-list::-webkit-scrollbar-button:increment,.section-content-list::-webkit-scrollbar-button {
  display: none;
} 

.section-content-list::-webkit-scrollbar:horizontal {
  height: 10px;
}

.section-content-list::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.section-content-list::-webkit-scrollbar-track {
  border-radius: 10px;  
}
